.ClearButton, .SaveButton {
  width: 17%;
  height: 40px;
  background-color: cadetblue;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 2px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: azure;
  position: fixed;
  width:auto;
  height: 100%;
  overflow: auto;
}

.Note0 {
  margin: 5px 10px;
  background-color: rgb(237, 181, 191);
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 15px;
  overflow: auto;
}

.Note1 {
  margin: 5px 10px;
  background-color: rgb(153, 206, 211);
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 15px;
  overflow: auto;
}

.Note2 {
  margin: 5px 10px;
  background-color: rgb(134,179,209);
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 15px;
  overflow: auto;
}

.Note3 {
  margin: 5px 10px;
  background-color:rgb(77,109,154);
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 15px;
  overflow: auto;
}

.Note4 {
  margin: 5px 10px;
  background-color: rgb(95,99,102);
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 15px;
  overflow: auto;
}

.Note5 {
  margin: 5px 10px;
  background-color: rgb(240,128,128);
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 15px;
  overflow: auto;
}

.Note0:hover {
  background: rgba(237, 181, 191, 0.3);
}
.Note1:hover {
  background: rgba(153, 206, 211,0.3);
}
.Note2:hover {
  background: rgba(134,179,209,0.3);
}
.Note3:hover {
  background: rgba(77,109,154,0.3);
}
.Note4:hover {
  background: rgba(95,99,102,0.3);
}
.Note5:hover {
  background: rgba(240,128,128,0.3);
}

.Plus {
  margin: 5px 10px;
  background-color: lightslategray;
  padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 3px grey;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
}

.Background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Dialog {
  margin: 5px 10px;
  background-color: cadetblue;
  padding: 10px;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 3px grey;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.TitleInput {
  margin: 5px;
  background-color: cadetblue;
  border: none;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  overflow: auto;
}

.TextInput {
  margin: 5px;
  background-color: cadetblue;
  border: none;
  height: 350px;
  font-size: 14px;
  resize: none;
}

.Buttons {
  width: 100%;
  display: inline-block;
  margin-left: 300px;
}

.SaveButton {
  border-radius: 5px;
}

.SaveButton:hover {
  background-color: lightslategray;
}

.ClearButton {
  border-radius: 5px;
}

.ClearButton:hover {
  background-color: lightslategray;
}

.DeleteNote {
  float: right;
}

.DeleteNote:hover {
  background-color: #F08080;
  border-radius: 25px;
}

@media screen and (max-width:480px){
  .Plus{
    width: 120px;
    height: 120px;
  }
  .Note0, .Note1, .Note2, .Note3, .Note4, .Note5{
    width: 120px;
    height: 120px;
  }
  .Dialog{
    width: 280px;
    height: 280px;
  }
  .ClearButton, .SaveButton {
    width: 17%;
    height: 30px;
    background-color: cadetblue;
    border: none;
    color: white;
    font-size: 10px;
    border-radius: 1px;
  }
  .Buttons {
    width: 100%;
    display: inline-block;
    margin-left: 180px;
  }
  .TitleInput{
    font-size: 16px;
  }
  .TextInput{
    font-size: 12px;
  }
  p{
    overflow: auto;
  }
}
/*# sourceMappingURL=index.css.map */
